body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DDC8C4;
    color: #333;
}

.sidebar {
    width: 250px;
    background-color: #6B4D57;
    height: 100vh;
    padding: 20px;
}
.sidebar h2 {
    font-size: 24px;
    margin-bottom: 30px;
}
.sidebar ul {
    list-style-type: none;
}
.sidebar li {
    margin-bottom: 15px;
}
.sidebar a {
    text-decoration: none;
    color: #EFF9F0;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.sidebar a:hover {
    color: #007bff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    color: #0066cc;
    margin-bottom: 5px;
}

header p {
    font-size: 1rem;
    color: #666;
}

.dollar-info {
    margin: 30px 0;
}

.dollar-info h2 {
    font-size: 3rem;
    color: #33cc33;
    margin: 0;
}

.dollar-info p {
    font-size: 1rem;
    color: #888;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005bb5;
}

footer {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #aaa;
}

.btn-volver {
    display: inline-block; /* Permite aplicar padding y margin */
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
}